.container {
	width: 100%;
	margin-top: 100px;
}

.ingredients {
	display: grid;
	gap: 16px;
	max-height: 464px;
	overflow-y: scroll;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	place-content: center flex-end;
	gap: 40px;
	height: auto;


	& svg {
		width: 36px;
		height: 36px;
	}
}

.sum {
	display: flex;
	flex-wrap: wrap;
	place-content: center flex-end;
	gap: 8px;
}

.placeholder {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	width: 100%;
	max-width: 536px;
	height: 80px;
	margin-left: 32px;
	background-color: #1c1c21;
}

.placeholderIngredient {
	border-radius: 40px;
}

.placeholderTopBun {
	border-radius: 88px 88px 40px 40px;
}

.placeholderBottomBun {
	border-radius: 40px 40px 88px 88px;
}
