.content {
	width: 640px;
	margin: 122px auto 0;
}

.centerText {
	text-align: center;
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-height: 312px;
	overflow-y: scroll;
}

.card {
	display: flex;
    justify-content: space-between;

	& div {
		display: flex;
		align-content: center;
		gap: 16px;

		& p {
			align-content: center;
		}
	}
}

.price {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	gap: 8px;
}

.totalInfo {
	display: flex;
	justify-content: space-between;
}
